@page "/"

<PageTitle>Home</PageTitle>

<div Style="max-width:800px; margin:auto">

<h1>Home</h1>
<br />

<RadzenImage Path="https://www.itu.dk/images/itushared/atriumgrandview.jpg" Style="width:100%" />

<div>
 <br />
 The process of 
 aquiring qualified students for collaboration projects across different universities, can often be quite a challenge for supervisors. 
 Unibanken is a website that strives to make this struggle cease once and for all. 
 With Unibanken, you can easily create, edit and delete projects, which can be applied for by 
 students with the educational backgrounds of your choosing. 

 <br />


</div>

</div>
