@page "/login"

<div class="row">
    <div class="col-xl-6">
        <h3>Login</h3>
        <RadzenCard>
            <RadzenTemplateForm Data=@("SimpleLogin") Action="http://www.google.com">
                <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args, "Simple login")) Style="margin-bottom: 20px;" />
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</div>

@code {
    string userName = "admin";
    string password = "admin";

    void OnLogin(LoginArgs args, string name)
    {
        
    }

    void OnRegister(string name)
    {
        
    }

    void OnResetPassword(string value, string name)
    {
        
    }
}