.project-title {
    min-height: 72px;
    color: #da0074;
    background-color: rgba(255, 255, 255, .1);
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.VisibilityButton {
    font-size: 12px;
    font-weight: bold;
    margin: 1 1rem 1rem 0;
}

.DeleteButton {
    font-size: 12px;
    font-weight: bold;
    margin: 1 1rem 0.5rem 0;
}

.h5 {
    padding: 1em 0.3em;
    text-decoration: none;
}