@page "/MyProjects"
@using PB.Client.Services
@using System.Net.Http
@inject HttpClient http

<h1>MyProjects</h1>




@code {
        protected override async Task OnInitializedAsync(){
            await ProjectService.GetMyProjects(http);   
        }
}