@page "/ProjectForm"

<style>
    form .row {
        margin-bottom: 20px;
    }
</style>

<h2>Create new project</h2>

@if (project == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@project" Submit="@((Project args) => { Submit(args); })">

        <RadzenFieldset Text="" style="width: 100%;">
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Project Title" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox style="width: 100%;" Name="UniAbbrv" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Deadline" />
                </div>
                <div class="col-md-8">
                    <RadzenDatePicker style="width: 100%;" Name="Deadline" @bind-Value="project.Deadline" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="University" />
                </div>
                <div class="col-md-8">
                    <RadzenDropDown @bind-Value="project.UniId" AllowClear="true" Placeholder="Select university"
                    Data="@universities" style="width: 100%;" TextProperty="UniAbbrv" ValueProperty="UniId"
                    Name="UniId">
                    </RadzenDropDown>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Supervisor" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox style="width: 100%;" Name="Supervisor" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Project Description" />
                </div>
                <div class="col-md-8">
                    <RadzenTextArea style="width: 100%" Name="project Description" />
                </div>
            </div>
        </RadzenFieldset>

        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel"
                style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
            </div>
        </div>
    </RadzenTemplateForm>
}

@code {
    public class Project
    {
        public int UniId { get; set; }
        public string UniAbbrv { get; set; }
        public DateTime Deadline { get; set; }
        public string Supervisor { get; set; }
        public string Description { get; set; }

    }

    public class University
    {
        public int UniId { get; set; }
        public string UniAbbrv { get; set; }
    }

    Project project = new Project()
    {
        Deadline = DateTime.Now,
    };

    List<University> universities = new List<University>()
{
new University() { UniId = 1, UniAbbrv = "AAU" },
new University() { UniId = 2, UniAbbrv = "ITU" },
new University() { UniId = 3, UniAbbrv = "KU" },
new University() { UniId = 4, UniAbbrv = "DTU" }
};

    void Submit(Project arg)
    {
        //Called when you press save on project form
    }

    void Cancel()
    {
        //Called when you press cancel on project form
    }
}