@page "/Project/{projectId:int}"
@using PB.Client.Services
@using PB.Core
@using System.Net.Http
@inject HttpClient http
@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Radzen.Blazor

<div style="word-wrap:break-word;">
    @if (project != null){
    <h1>@project.Title</h1>
    <p>@project.Description</p>
    <p>@supervisor.Name</p>
    <p>@project.Applications.FirstOrDefault()</p>
}
</div>

@if(isOwner) {
    <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="View Applications" Click=@ApplicationButton Style="background: #4169E1;" />
}

@code {
    [Parameter]
    public int? ProjectId {get; set;}
    private ProjectDetailsDTO? project;
    private bool isOwner;
    private SupervisorDetailsDTO? supervisor;

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        

        if(ProjectId != 0){
            if(user.Identity.IsAuthenticated){
                project = await ProjectService.GetProject(http, ProjectId);
                supervisor = await SupervisorServices.GetSupervisorAsync(http, project.Supervisor);
                isOwner = supervisor.Email == user.Identity.Name;
            }else{
                var anonClient = ClientFactory.CreateClient("PB.NoAuthenticationClient");
                project = await ProjectService.GetProject(anonClient, ProjectId);
                supervisor = await SupervisorServices.GetSupervisorAsync(anonClient, project.Supervisor);
            }
        }

        await base.OnParametersSetAsync();
    }

    async Task ApplicationButton() {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}Project/{ProjectId}/Applications");
    }
}